<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
  <test name="Test">
   <groups>
    	<run>
     	 <include name="CustomerCare"/>
      	<include name="TechnicalCare"/>
      	<include name="SCP"/>
     	 <include name="OM"/>
    	</run>
  </groups>
      
    <classes>
    <!-- Almer -->
    	<!-- CustomerCare -->
    <class name="Tests.CustomerCareCaseManagement"/>
    <class name="Tests.CustomerCareCreatedCaseManagement"/>
    	<!-- TechnicalCare -->
    <class name="Tests.TechnicalCare"/>
    <class name="Tests.testRegistroEventoMasico"/>
    <class name="Tests.testEventosMasivos"/>
    <class name="Tests.testListaEventosMasivos"/>
    <class name="Tests.test_SCP_Base"/>
    <class name="Tests.TechnicalCareCSRAutogestionA"/>
    <class name="Tests.TechnicalCareCSRMuletoA"/>
    		<!-- OM -->
    <class name="Tests.moduloOM"/>
    
    
    <!-- Joaquin -->
    	<!-- CustomerCare -->
    <class name="Tests.TestsJ"/>
    
    
    <!-- Nicolas -->
    	<!-- CustomerCare -->
    <class name="Tests.CustomerCare360ViewCustomerInformation"/>
    <class name="Tests.CustomerCare360ViewInformationClient"/>
    <class name="Tests.CustomerCare360ViewPanelDistribution"/>
    <class name="Tests.CustomerCareFase3"/>
    
    
    <!-- Florangel -->
		<!-- TechnicalCare -->
	<class name="Tests.TechnicalCareCSRSTTVista1"/>
	<class name="Tests.TechnicalCareCSRSTT2"/>
	<class name="Tests.TechnicalCareCSRDiagnostico"/>
		<!-- SCP -->
	<class name="Tests.SCPAdministracionDeServicios"/>
	
	
	<!-- LEO -->
		<!-- SCP -->
	<class name="Tests.SCPParquedeServicios"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
